@model Position

<h1>Add New Position</h1>

<form asp-action="Create">
    <div>
        <label for="PositionName">Position Name</label>
        <input type="text" id="PositionName" name="PositionName" />
    </div>
    <button type="submit">Save</button>
</form>
